<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>YouDoNote</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae vestibulum elit. Nunc scelerisque odio sit amet tellus iaculis, finibus pretium ex tempus. Nullam lacinia pellentesque euismod. In sit amet tellus vitae dolor semper auctor sed ac est. Cras et lacus magna. Praesent vel lacus sed nisi feugiat blandit sed dignissim massa. Vivamus feugiat, nibh vel facilisis commodo, nulla sem tincidunt mi, a sollicitudin ligula augue sed justo. Morbi ut scelerisque ex. Sed euismod scelerisque tristique. Proin tempor mi non velit efficitur fringilla. Aenean nulla neque, feugiat sit amet venenatis id, suscipit sagittis lectus. Duis ac rhoncus mi, et gravida ligula. Morbi at hendrerit nulla, porta efficitur urna. </p>
</ion-content>
