<ion-header [translucent]="true">
  <ion-toolbar color="{{ colorScheme }}">
    <ion-title> 
      YouDoNote
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings/']"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="{{ colorScheme }}">
    <ion-searchbar [disabled]="empty" placeholder="Search note" (ionChange)="onSearchTerm($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-card *ngFor="let todo of todos; let i = index; " [routerLink]="['/notemodal/', i]">
    <ion-item>
      <ion-label>{{todo.title}}</ion-label>
    </ion-item>
    <ion-card-content style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
      {{todo.desc}}
    </ion-card-content>    
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showModal()" color="{{ colorScheme }}">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="ion-padding vertical-center" *ngIf="empty == true">
    <p class="ion-text-center" ><ion-icon color="medium" name="create-outline" style="width: 60px; height: 60px;"></ion-icon></p>
    <p class="ion-text-center" justify-content-center align-items-center style="height: 100%; flex-direction: column">
        No notes added yet. Add notes by clicking the button at the bottom right now!
    </p>
  </div>
  <div class="ion-padding" *ngIf="none == true">
    <p class="ion-text-center">No results</p>
  </div>
</ion-content>
