.toolbar { --background: var(--ion-color-primary); }
.toolbar-title { --color: #FFF; }
.no-bullet { list-style-type: none; padding-left: 5px; }
.no-bullet li ion-button { width: 30px !important; height: 30px !important; border-radius: 50px; }
