<ion-header>
  <ion-toolbar color="{{ colorScheme }}">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title >Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!isUpdated" (click)="presentLoading()"><ion-icon name="save-outline"></ion-icon>&nbsp;SAVE </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Color Scheme</ion-label>
      <ul class="no-bullet">
        <li><ion-button [disabled]="isPrimary" color="primary" (click)="buttonColor('primary')"><p *ngIf="isPrimary">X</p></ion-button></li>
        <li><ion-button [disabled]="isSecondary" color="secondary" (click)="buttonColor('secondary')"><p *ngIf="isSecondary">X</p></ion-button></li>
        <li><ion-button [disabled]="isTertiary" color="tertiary" (click)="buttonColor('tertiary')"><p *ngIf="isTertiary">X</p></ion-button></li>
      </ul>
      <ul class="no-bullet">
        <li><ion-button [disabled]="isSuccess" color="success" (click)="buttonColor('success')"><p *ngIf="isSuccess">X</p></ion-button></li>
        <li><ion-button [disabled]="isWarning" color="warning" (click)="buttonColor('warning')"><p *ngIf="isWarning">X</p></ion-button></li>
        <li><ion-button [disabled]="isDanger" color="danger" (click)="buttonColor('danger')"><p *ngIf="isDanger">X</p></ion-button></li>
      </ul>
      <ul class="no-bullet"> 
        <li><ion-button [disabled]="isLight" color="light" (click)="buttonColor('light')"><p *ngIf="isLight">X</p></ion-button></li>
        <li><ion-button [disabled]="isMedium" color="medium" (click)="buttonColor('medium')"><p *ngIf="isMedium">X</p></ion-button></li>
        <li><ion-button [disabled]="isDark" color="dark" (click)="buttonColor('dark')"><p *ngIf="isDark">X</p></ion-button></li>
      </ul>
    </ion-item>
  </ion-list>
</ion-content>
